.App {
  text-align: center;
  color: white;
  min-width: 375px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img.logo {
  max-height: 120px;
  margin-top: 30px
}

div.start {
  height: 400px;
}

div.hidden {
  visibility: hidden;
  height: 0px;
}

.hidden {
  visibility: hidden;
  height: 0px;
}

.victoryImg {
  position: relative;
  right: 150px;
  bottom: 140px;
}

input {
  width: 100%;
}
button.newButton {
  width: 100%;
  margin: 20px;
  background-color: rgba(108, 117, 125, 0.7);
}

button.btn.btn-secondary {
  margin: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.main-flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.workout-container {
  margin: 25px;
  width: 70%
}

.aside-container {
  width: 30%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

div.workout-div {
  margin: 5px;
  border-radius: 10px;
  flex-direction: column;
  
}

.workout-div p {
  margin-bottom: 0 !important;
}

.workout-div button {
  width: 100%;
  height: 35px;
  opacity: .5;
  background-color: rgb(89, 129, 143);
  border-left: none;
  border-right: none;
  color: white;
}

.workout-div button:hover {
  opacity: .7;
}

.workout-div button.delete {
  margin-bottom: 15px;
}

div.workout-div.flex-container {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  min-width: 150px;
}

.workout-div span {
  color: rgb(140, 196, 191);
}

div.workout-list {
  width: 80%;
}

div.timer {
  height: 230px;
  width: 230px;
  background-color: white;
  color: black;
  margin: 50px;
  border-radius: 115px;
  border: 5px solid black;
}

div.timer h1 {
  position: relative;
  top: 10px;
  font-size: 100px;
}

div.timer p {
  position: relative;
  top: 5px;
}

button.start-button {
  background-color: green;
  opacity: 1;
  width: 50%;
}

button.stop-button {
  background-color: rgb(151, 10, 10);
  opacity: 1;
  width: 50%;
}

button.reset-button {
  background-color: rgb(133, 89, 7);
  opacity: 1;
  width: 33%;
}

h2.victoryMessage {
  position: relative;
  top: 35px;
}

div.weather-div {
  padding: 20px;
  width: 40%;
}


div.weather-div button {
  height: 10px;
  font-size: 8px;
}

div.weather-div input {
  height: 15px;
  width: 50%;
  font-size: 10px;
  background-color: rgba(108, 117, 125, 0.7) !important;
  border: none;
  border-radius: 5px;
  padding: 3px;
  color: white;
}

div.weather-div input::placeholder {
  color: white;
}

div.weather-div button {
  background-color: rgba(108, 117, 125, 0.7);
  height: 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
  bottom: 1px;
}

div.forecast {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
}

div.modal-header, div.modal-body, div.modal-footer {
  background-color: #6B787F;
}

div.modal-header {
  border-top: 3px solid #b9b8b8;
  border-left: 3px solid #b9b8b8;
  border-bottom: none;
  border-right: 3px solid #b9b8b8;
  border-radius: 0px;
}

div.modal-body {
  border-right: 3px solid #b9b8b8;
  border-left: 3px solid #b9b8b8;
  border-top: none;
  border-bottom: none;
}

div.modal-footer {
  border-bottom: 3px solid #b9b8b8;
  border-right: 3px solid #b9b8b8;
  border-left: 3px solid #b9b8b8;
  border-top: none;
  border-radius: 0px;
  padding: 0px;
}

div.modal-body input {
  background-color: #b9b8b8;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

button#cancel.btn.btn-secondary {
  background-color: rgba(0, 0, 0, 0.15);
}

button#cancel.btn.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#temp {
  color: #0070BA;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 800px) {
  .main-flex-container {
    flex-wrap: wrap;
  }
  .workout-container {
    width: 100%;
  }

  .aside-container {
    visibility: hidden;
  }
}
